body {
  margin: 0;
  cursor: move;
}

.point {
  width: 60px;
  height: 60px;
  position: relative;
  cursor: pointer;
  opacity: .7;
}

.point.arrow {
  background: url("/images/arrow.svg") center center no-repeat / cover;
}

.point.door {
  background: url("/images/door.svg") center center no-repeat / cover;
}

.point:hover,
.point:active {
  opacity: 1;
}